@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #08090a;
  --text-color: #f8f8f2;
  --comment-color: #808080;
  --declaration-color: #f39c12;
  --literal-color: #dda0dd;
  --error-color: #f9690e;
  --name-color: #7ed07e;
  --string-color: #f2ca27;
}

